<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<!--Uso de acentos-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	</head>

	<body ng-controller="listadoCtrl as ctrl" ng-init="">
		<div class="container">
			<div class "logo-zone">
				<img src="/images/logos/mercamita_logo.png" alt="Mercamita" class="img-responsive center-block">
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image">
								<img src="/images/products/cross.jpg" class="img-responsive">
								<span class="tag2 hot">
									NUEVO
								</span>
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
									<h5 class="name">
										<a href="#" class="prod-title">
											000124/Pluma Cross
										</a>
										<a href="#">
											<span>Útiles</span>
										</a>

									</h5>
									<p class="price-container">
										<span>$899</span>
									</p>
									<span class="tag1"></span>
							</div>
							<div class="description">
								<p>Star Wars: The Force Awakens Edition</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Comprar</a>
			                            <a href="javascript:void(0);" class="btn btn-info">Información</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="product-image">
									<img src="/images/products/am.jpg" alt="194x228" class="img-responsive">
									<span class="tag2 hot">
										OFERTA
									</span>
								</div>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
									<h5 class="name">
										<a href="#" class="prod-title">
											505/AM <span>Discos</span>
										</a>
									</h5>
									<p class="price-container">
										<span>$250</span>
									</p>
									<span class="tag1"></span>
							</div>
							<div class="description">
								<p>El mejor disco del universo.</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Comprar</a>
			                            <a href="javascript:void(0);" class="btn btn-info">Información</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="product-image">
									<img src="/images/products/grim.jpg" alt="194x228" class="img-responsive">
									<span class="tag3 special">
										Especial
									</span>
								</div>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
									<h5 class="name">
										<a href="#" class="prod-title">
											01224/Grimaldi <span>Libros</span>
										</a>
									</h5>
									<p class="price-container">
										<span>$199</span>
									</p>
									<span class="tag1"></span>
							</div>
							<div class="description">
								<p>Yo reprobé, pero el libro sí es bueno.</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Añadir al carrito</a>
			                            <a href="javascript:void(0);" class="btn btn-info">Más info.</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="product-image">
									<img src="/images/products/pencil.jpg" alt="194x228" class="img-responsive">
									<span class="tag2 sale">
										OFERTA
									</span>
								</div>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
									<h5 class="name">
										<a href="#" class="prod-title">
											00152/Apple Pencil <span>Tecnología</span>
										</a>
									</h5>
									<p class="price-container">
										<span>$1599</span>
									</p>
									<span class="tag1"></span>
							</div>
							<div class="description">
								<p>Ya no sirve, pero se ve bien.</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Comprar</a>
			                            <a href="javascript:void(0);" class="btn btn-info">Más info</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image">
								<img src="/images/products/popquiz.jpg" alt="194x228" class="img-responsive">
								<span class="tag2 sale">
									ÚNICO
								</span>
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
								<h5 class="name">
									<a href="#" class="prod-title">
										28546/Popquiz Herschel <span>Varios</span>
									</a>
								</h5>
								<p class="price-container">
									<span>$1200</span>
								</p>
								<span class="tag1"></span>
							</div>
							<div class="description">
								<p>La mochila más bonita del mundo.</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Comprar</a>
			                            <a href="javascript:void(0);" class="btn btn-info">Info</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image">
								<img src="/images/products/rio.jpg" alt="194x228" class="img-responsive">
								<span class="tag2 sale">
									ÚLTIMO
								</span>
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
								<h5 class="name">
									<a href="#" class="prod-title">
										89467/KIA Río 2018<span>Automóviles</span>
									</a>
								</h5>
								<p class="price-container">
									<span>$100,000</span>
								</p>
								<span class="tag1"></span>
							</div>
							<div class="description">
								<p>Chocado, pero sirve.</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                            			<a href="javascript:void(0);" class="btn btn-info">More info</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
      <div class="container">
        <p class="text-muted">Un producto de Skynet, desarrollado exclusivamente para el ITAM.</p>
      </div>
    </footer>
	</body>
</html>
