<!DOCTYPE html>
<html>
	<head>
	</head>

	<body ng-controller="listadoController as ctrl" ng-init="user=<%=JSON.stringify((req.session.user) ? req.session.user : null)%>; products=<%=JSON.stringify(products)%>;">
		<div class="row">
			<nav class="navbar navbar-light bg-light">
				<div class="col-md-8">
					<form class="form-inline my-2 my-lg-0 float-right">
						<input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</div>
				<div class="col-md-4">
					<a class="navbar-brand" href="/login" ng-if="user===null">Iniciar sesión</a>
					<a class="navbar-brand" href="/profile" ng-if="user!==null">{{user.name | uppercase}}</a>
					<a class="navbar-brand" ng-if="user!==null">
						<button type="button" ng-click="logout()">
							<small>CERRAR SESION</small>
						</button>
					</a>
				</div>
			</nav>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6" ng-repeat="product in products">
				<div class="prod-info-main prod-wrap clearfix">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image"> 
								<img src="images/products/{{product.images[0]}}" alt="194x228" class="img-responsive"> 
								<span class="tag2 sale">
									{{product.tag | uppercase}}
								</span>
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="product-deatil">
								<h5 class="name">
									<a href="#" class="prod-title">
										{{product.name}} <span ng-repeat="category in product.categories">{{category | uppercase}}</span>
									</a>
								</h5>
								<p class="price-container">
									<span>${{product.price}}</span>
								</p>
								<span class="tag1"></span> 
							</div>
							<div class="description">
								<p>{{product.price}}</p>
							</div>
							<div class="product-info smart-form">
								<div class="row">
									<div class="col-md-12"> 
										<a href="javascript:void(0);" class="btn btn-danger">Comprar</a>
										<a href="/products/{{product.id}}" class="btn btn-info">Info</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">Un producto de Skynet, desarrollado exclusivamente para el ITAM.</p>
			</div>
		</footer>
	</body>
</html>
