<p>Hola <%=recipientName%>,</p>
<br/>
<p><em>GRACIAS</em> por inscribirte con nosotros.</p>
<p>Para poder usar los servicios de Mercamita, ingresa al siguiente link:</p>
<a href="<%=sails.config.baseUrl%>/users/activate/account/<%=id%>">AQUÍ</a>
<br>
<p>Mucha suerte,<br/>Mercamita</p>